@charset "utf-8";

/* 헤더영역 */
.RecHeader{
    background-color: #000;
    padding-bottom: 30px;
}
.logo img{
    cursor: pointer;
    margin-top: 10px;
}
.main01_img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.RecHeader .icon, .SearchHeader .icon{
    display: flex;
    justify-content: right;
    margin-top: -25px;
}
.RecHeader .icon p, .SearchHeader .icon p{
    cursor: pointer;
    margin-left: 8px;
}
.RecHeader .icon02, .SearchHeader .icon02{
    margin-top: 2px;
}
.SearchHeader input{
    position: absolute;
    top: 5px;
    right: 25%;
    box-sizing: border-box;
    height: auto;
    border-radius: 4px;
    border: none;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333333;
}

@media screen and (min-width: 768px) {
    .main01_img .logo{
        opacity: 0;
        width: 10px;
    }
    .SearchHeader input{
        width: 300px;
        left: 0;
        font-size: 16px;
    }

}